body {
    background-color: #1a1436;
    background-image: linear-gradient(to bottom right, #1a1436 , #8ae3dd);
    background-repeat: no-repeat;
}
#header {
    font-family: "Milky Coffee", "Brush Script MT", 'Cursive';
    color: #ffefd1;
    text-shadow: 1px 1px 2px #ffefd1, 0 0 1em #1a1436, 0 0 0.2em #1a1436;
    text-align: left;
    background-color: #1a1436;
    background-image: linear-gradient(to bottom left, #1a1436 , #8ae3dd);
    padding: 20px;
    margin: 20px;
    width: 95%;
}
footer {
    background-color: #1a1436;
    padding-top: 10px;


}
.column {
      flex: 50%;
      padding: 5px;
}
.row {
    display: flex;
}

.meme {
    width: 25%;
}

.link-highlight {
    background-color:#ffbb00;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
img {
    width:80%;
    height:auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}
iframe {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 854px;
    height: 480px;
}
h1 {
    font-size: xxx-large;
    font-family: "Merienda One", "Brush Script MT", 'Cursive';
}
h2 {
    font-size: xx-large;
    font-family: "Merienda One", "Brush Script MT", 'Cursive';
}
h3 {
    margin: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Merienda One", "Brush Script MT", 'Cursive';
    font-size: x-large;
}

.important {
    border: 5px;
    border-style: ridge;
    border-color:#ffbb00;
    width: 80%;
}
.link {
    margin-left: 50px;
}
hr {
    border-top: 1px dashed #8ae3dd;
}
p {
    font-family: 'Verdana', 'san-serif';
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 25px;
}
a:hover {
    color:#21a300;
}
nav > a {
    color: #1a1436;
    font-family: 'Verdana', 'san-serif';
    text-decoration: none;
}

a {
    color: #96ff6c;
    font-family: 'Verdana', 'san-serif';
    text-decoration: underline; 
}

nav > a:hover {
    color: #21a300;
    font-family: 'Verdana', 'san-serif';
    text-decoration: none;
}

div {
    padding-left: 25px;
}
table {
    border: #0bff2b 1px double;
    border-collapse: collapse;
    border-width: medium;
    width: 95%;
    table-layout: fixed;


}

th, td {
    background-color: #1a1436;
    font-family: 'Verdana', 'san-serif';
    margin-left: 80px;
    width: 85%;
    text-align: center;

}

input, textarea {
    background-color:#1a1436
}

button {
    background-color:#012e07
}

button:focus {
    background-color: #1a1436;
}
.foot {
    text-align: right;
}
* {
color: azure;
font-family: 'Verdana', 'san-serif';
}